* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
}

h1 {
  margin: 10px;
  text-align: center;
  color: blue;
}

.imageContainer {
  margin: auto;
}
.pictures {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}
.picture {
  padding: 1rem;
}
img {
  width: 250px;
  height: 360px;
}
